/* src/App.css */
.game-board {
  font-family: "Arial", sans-serif;
  text-align: center;
  padding: 20px;
  background: url("./Assets/casino_blackjack_background_image.jpg") no-repeat
    center center fixed;
  background-size: cover;
  color: white;
  min-height: 50vh;
}

button {
  background-color: #ff4500; /* Orange-Red */
  color: white;
  padding: 15px 30px;
  font-size: 1.2rem;
  border: 2px solid #ff6347; /* Tomato */
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin: 10px;
}

button:hover {
  background-color: #ff6347; /* Tomato */
  transform: scale(1.1);
}

button:active {
  background-color: #ff4500; /* Orange-Red */
  transform: scale(1);
}

button:disabled {
  background-color: #808080; /* Gray for disabled */
  cursor: not-allowed;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.card-container img {
  width: 75px;
  height: 100px;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

#startGameButton {
  background-color: #32cd32; /* Lime Green */
}

#hitButton {
  background-color: #4682b4; /* Steel Blue */
}

#standButton {
  background-color: #8b0000; /* Dark Red */
}

#hitButton:hover,
#standButton:hover {
  background-color: #5f9ea0; /* Light Slate Gray */
}

/* Animation for the game state */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.game-state {
  animation: fadeIn 1s ease-in-out;
}

.dealer-hand,
.player-hand {
  margin-bottom: 20px;
}

h4 {
  color: #ffd700; /* Gold */
}
